@font-face {
  font-family: 'CompassPro';
  src: url('hf-free-complete/compass-pro-v1.1/CompassPro.woff') format('woff'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('hf-free-complete/compass-pro-v1.1/CompassPro.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'EquipmentPro';
  src: url('hf-free-complete/equipment-pro-v1.1/EquipmentPro.woff') format('woff'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('hf-free-complete/equipment-pro-v1.1/EquipmentPro.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'ExpressionPro';
  src: url('hf-free-complete/expression-pro-v1.1/ExpressionPro.woff') format('woff'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('hf-free-complete/expression-pro-v1.1/ExpressionPro.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'FutilePro';
  src: url('hf-free-complete/futile-pro-v1/FutilePro.woff') format('woff'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('hf-free-complete/futile-pro-v1/FutilePro.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'MatchupPro';
  src: url('hf-free-complete/matchup-pro-v1.1/MatchupPro.woff') format('woff'),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('hf-free-complete/matchup-pro-v1.1/MatchupPro.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    box-sizing: border-box;
}

.pixel-corners-soft,
.pixel-corners-soft--wrapper {
  clip-path: polygon(0px calc(100% - 20px),
      4px calc(100% - 20px),
      4px calc(100% - 12px),
      8px calc(100% - 12px),
      8px calc(100% - 8px),
      12px calc(100% - 8px),
      12px calc(100% - 4px),
      20px calc(100% - 4px),
      20px 100%,
      calc(100% - 20px) 100%,
      calc(100% - 20px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 20px),
      100% calc(100% - 20px),
      100% 20px,
      calc(100% - 4px) 20px,
      calc(100% - 4px) 12px,
      calc(100% - 8px) 12px,
      calc(100% - 8px) 8px,
      calc(100% - 12px) 8px,
      calc(100% - 12px) 4px,
      calc(100% - 20px) 4px,
      calc(100% - 20px) 0px,
      20px 0px,
      20px 4px,
      12px 4px,
      12px 8px,
      8px 8px,
      8px 12px,
      4px 12px,
      4px 20px,
      0px 20px);
  position: relative;
}

.pixel-corners-soft {
  border: 4px solid transparent;
}

.pixel-corners-soft--wrapper {
  width: fit-content;
  height: fit-content;
}

.pixel-corners-soft--wrapper .pixel-corners-soft {
  display: block;
  clip-path: polygon(4px 20px,
      8px 20px,
      8px 12px,
      12px 12px,
      12px 8px,
      20px 8px,
      20px 4px,
      calc(100% - 20px) 4px,
      calc(100% - 20px) 8px,
      calc(100% - 12px) 8px,
      calc(100% - 12px) 12px,
      calc(100% - 8px) 12px,
      calc(100% - 8px) 20px,
      calc(100% - 4px) 20px,
      calc(100% - 4px) calc(100% - 20px),
      calc(100% - 8px) calc(100% - 20px),
      calc(100% - 8px) calc(100% - 12px),
      calc(100% - 12px) calc(100% - 12px),
      calc(100% - 12px) calc(100% - 8px),
      calc(100% - 20px) calc(100% - 8px),
      calc(100% - 20px) calc(100% - 4px),
      20px calc(100% - 4px),
      20px calc(100% - 8px),
      12px calc(100% - 8px),
      12px calc(100% - 12px),
      8px calc(100% - 12px),
      8px calc(100% - 20px),
      4px calc(100% - 20px));
}

.pixel-corners-soft::after,
.pixel-corners-soft--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 20px),
      4px calc(100% - 20px),
      4px calc(100% - 12px),
      8px calc(100% - 12px),
      8px calc(100% - 8px),
      12px calc(100% - 8px),
      12px calc(100% - 4px),
      20px calc(100% - 4px),
      20px 100%,
      calc(100% - 20px) 100%,
      calc(100% - 20px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 4px),
      calc(100% - 12px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 8px),
      calc(100% - 8px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 12px),
      calc(100% - 4px) calc(100% - 20px),
      100% calc(100% - 20px),
      100% 20px,
      calc(100% - 4px) 20px,
      calc(100% - 4px) 12px,
      calc(100% - 8px) 12px,
      calc(100% - 8px) 8px,
      calc(100% - 12px) 8px,
      calc(100% - 12px) 4px,
      calc(100% - 20px) 4px,
      calc(100% - 20px) 0px,
      20px 0px,
      20px 4px,
      12px 4px,
      12px 8px,
      8px 8px,
      8px 12px,
      4px 12px,
      4px 20px,
      0px 20px,
      0px 50%,
      4px 50%,
      4px 20px,
      8px 20px,
      8px 12px,
      12px 12px,
      12px 8px,
      20px 8px,
      20px 4px,
      calc(100% - 20px) 4px,
      calc(100% - 20px) 8px,
      calc(100% - 12px) 8px,
      calc(100% - 12px) 12px,
      calc(100% - 8px) 12px,
      calc(100% - 8px) 20px,
      calc(100% - 4px) 20px,
      calc(100% - 4px) calc(100% - 20px),
      calc(100% - 8px) calc(100% - 20px),
      calc(100% - 8px) calc(100% - 12px),
      calc(100% - 12px) calc(100% - 12px),
      calc(100% - 12px) calc(100% - 8px),
      calc(100% - 20px) calc(100% - 8px),
      calc(100% - 20px) calc(100% - 4px),
      20px calc(100% - 4px),
      20px calc(100% - 8px),
      12px calc(100% - 8px),
      12px calc(100% - 12px),
      8px calc(100% - 12px),
      8px calc(100% - 20px),
      4px calc(100% - 20px),
      4px 50%,
      0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  display: block;
  pointer-events: none;
}

.pixel-corners-soft::after {
  margin: -4px;
}

.pixel-corners-hard,
.pixel-corners-hard--wrapper {
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px);
  position: relative;
}
.pixel-corners-hard {
  border: 4px solid transparent;
}
.pixel-corners-hard--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-hard--wrapper .pixel-corners-hard {
  display: block;
  clip-path: polygon(4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px));
}
.pixel-corners-hard::after,
.pixel-corners-hard--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px,
    0px 50%,
    4px 50%,
    4px 8px,
    8px 8px,
    8px 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 4px),
    8px calc(100% - 4px),
    8px calc(100% - 8px),
    4px calc(100% - 8px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  display: block;
  pointer-events: none;
}
.pixel-corners-hard::after {
  margin: -4px;
}

.pixel-corners-hard::before {
  content: ''; /* Required for the pseudo-element to work */
  position: absolute;
  top: 0;      /* Align to the top of the container */
  left: 0;     /* Align to the left of the container */
  right: 0;    /* Stretch to the right edge of the container */
  height: 16px; /* Height of the black bar */
  background-color: black; /* Color of the bar */
  z-index: 10;  /* Ensure it's above the other content, adjust as needed */
}

.eightbit-btn {
  /*https://codepen.io/MatthewShields/pen/pwrXpV*/
  background: #92CD41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  text-decoration: none;
  color: #76c442;
  box-shadow: inset -4px -4px 0px 0px #4AA52E;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4AA52E;
}
.eightbit-btn:active {
  box-shadow: inset 4px 4px 0px 0px #4AA52E;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
.eightbit-btn--reset {
  background: #E76E55;
  box-shadow: inset -4px -4px 0px 0px #8C2022;
}
.eightbit-btn--reset:hover, .eightbit-btn--reset:focus {
  background: #CE372B;
  box-shadow: inset -6px -6px 0px 0px #8C2022;
}
.eightbit-btn--reset:active {
  box-shadow: inset 4px 4px 0px 0px #8C2022;
}
.eightbit-btn--proceed {
  background: #F7D51D;
  box-shadow: inset -4px -4px 0px 0px #E59400;
}
.eightbit-btn--proceed:hover, .eightbit-btn--proceed:focus {
  background: #F2C409;
  box-shadow: inset -6px -6px 0px 0px #E59400;
}
.eightbit-btn--proceed:active {
  box-shadow: inset 4px 4px 0px 0px #E59400;
}

.button {
  font-family: 'EquipmentPro', sans-serif;
}

body,
html {
    max-width: 800px;
    margin: 0 auto;
    background: #dcdcdc;
    font-family: 'ExpressionPro', sans-serif;
    font-size: 32px;
    /* Subtle background pattern can be added via an image */
}


.nicegui-content {
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    gap: 32px;
    padding: 10px;
}

.game-title {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3em;
    background: #000000;
    /* Placeholder for title background */
    color: #ffffff;
    /* Placeholder for title color */
    line-height: 1;
}

.game-subtitle {
    font-size: .5em;
    font-style: italic;
    margin-bottom: .3em;
}

.dashed-line {
  grid-column: 1 / -1; /* Span across all columns */
  height: 50px; /* Adjust the height as needed */
  position: relative; /* Allows absolute positioning of the avatar */
}

.dashed-line::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 4px dashed grey; /* Creates the dashed line */
  transform: translateY(-50%); /* Center the line vertically */
}

.welcome {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.info {
    grid-column: 1 / -1;
    display: none;
}

.left-info,
.right-info {
    background: #ffffff;
}

.left-info {
    grid-column: 1 / 3;
}

.right-info {
    grid-column: 4 / 6;
}

.flanks-title {
    text-align: center;
    font-size: 1.2em;
    margin-top: .5em;
    margin-bottom: .5em;
    line-height: 1;
    font-weight: bold;
}

.markers {
    line-height: 1.2;
    padding: .5em;
}

.avatar-and-controls {
    grid-column: 3 / 4;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
}

.avatar-image {
    max-width: 100%;
    width: 100%;
    image-rendering: pixelated;
}

.login-button {
    font-family: "EquipmentPro", sans-serif;
    display: grid;
    align-content: center;
    position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 1.5em;
    min-height: initial;
    padding: 5px 10px;
    text-transform: initial;
    color: rgb(0, 0, 0) !important;
    background: #F2C409 !important;
    cursor: pointer;
    font-size: 1em;
}

.upload-button {
    border-top: 4px solid black !important;
}

.upload-button.login {
    background: #F7D51D !important;
}

.upload-button.logout {
    background: #f71d1d !important;
    border-top: 4px solid black !important;
}

.q-uploader {
    all: unset;
    width: 100%;
}

.q-uploader__header {
    all: unset;
}


.q-uploader__list {
    display: none;
}

.q-uploader__title {
    display: none;
}

.q-uploader__subtitle {
    display: none;
}

.q-uploader.upload-button > .q-uploader__header > .q-uploader__header-content > .flex.flex-center.no-wrap.q-gutter-xs > .col.column.justify-center {
    display: none;
}

.q-focus-helper {
    display: none;
}

i.q-icon.notranslate.material-icons {
    display: none;
}

.upload-button .q-btn.q-btn-item {
    width: 100%;
    height: 100%;
}

.upload-button.login .q-btn.q-btn-item:before {
    content: "Login";
    font-size: 2em;
}

.upload-button.logout .q-btn.q-btn-item:before {
    content: "Logout";
    font-size: 2em;
}

.start {
    font-family: "EquipmentPro", sans-serif;
    display: grid;
    align-content: center;
    grid-column: 2 / -2;
    min-height: initial;
    text-transform: initial;
    color: rgb(0, 0, 0) !important;
    background: #76c442 !important;
    height: 2em;
    cursor: pointer;
    font-size: 1.5em;
    margin: 20px;
}

.friends-gallery {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, minmax(120px, 1fr));
    gap: 20px;
}

.friend {
    text-align: center;
    background: #cccccc no-repeat;
    width: 100%;
    height: 100%;
    font-family: "MatchupPro", sans-serif;
    padding-bottom: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    line-height: 1;
}

.friend-avatar {
  border-bottom: #000000 solid 4px;
  image-rendering: pixelated;
  width: 100%;
  max-width: 100%;
  display: block;
  /* Makes image fit to its container */
}

.friend-name,
.friend-stats {
  font-size: .75em;
}

.friend:hover::after {
  content: '';
  background: rgb(200, 0, 0);
}

.add-friend:hover::after {
  content: '';
  background: rgb(0, 150, 0);
}

.underlined {
  text-decoration: underline;
}


/* Add media queries and additional styling as needed */